body {
  --dark-brown: #514433;
  --brown: #826644;
  --light-brown: #C8AD7F;

  --black: #222;
  --grey: #555;
  --light-grey: #999;
  --white: #F4F4F4;

  --dark-red: #963F31;
  --light-red: #B1837B;

  --light-blue: #8A9EC2;
}
